body {
    background: #fff;
}

.notification {
    margin-bottom: 30px;
}

.notification h2 {
    font-size: 20px;
    border-bottom: 1px solid #2c3e50;
    padding-bottom: 5px;
    line-height: 35px;
}

.notification h2 span {
    font-size: 15px;
    line-height: 35px;
    width: 150px;
    border-radius: 4px;
    display: inline-block;
    background-color: #18bc9c;
    margin-right: 10px;
    text-align: center;
    color: #fff;
}

#footer {
    min-height: 100px;
    background-color: #ecf0f1;
    padding: 15px 0;
}

#nav {
    width: 100%;
    background-color: #fff;
}

#nav ul {
    width: 1024px;
    margin: 0 auto;
    display: table;
    padding: 0 30px;
}

#nav ul li {
    float: left;
    margin-right: 40px;
    text-align: left;
}

#nav ul li a{
    font-size: 18px;
    line-height: 100px;
}

#pic {
    background: url(../img/index-pic.jpg) no-repeat center center;
    background-size: cover;
    height: 450px;
}

#pic h1 {
    color: #fff;
    margin-top: 50px;
    text-shadow: 0 0 5px #000;
}

#pic p {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 15px;
}

#sub-module {
    margin: 50px auto;
}