#login-form {
    position: absolute;
    width: 400px !important;
    left: -200px;
    height: 220px;
    top: -150px;
    padding: 30px 15px;
    opacity: 0.8;
    transition: opacity 0.3s;
}

#login-form:hover {
    opacity: 1;
}

#main-content {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    z-index: -10;
}

#main-content iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#signup-form {
    margin-top: 50px;
    padding: 30px 15px;
}